alias ls='ls --hyperlink=always --color=tty'
alias l='exa -lH'
alias psg='ps -A | grep'
alias pip='sudo pip3'
alias pylab="ipython3 --pylab=qt5 --profile=pylab"
alias primefac='python3 -m primefac'
alias dfh='df -h'
alias euro="echo 'CurrencyConvert[Quantity[1, \"Euros\"], \"USDollars\"]' | math | grep -oP '\d+(\.\d+)?(?= US dollars)' | xargs printf '$%.3f\n'"
alias :q='cowsay "this is not vim"; sleep 0.4; exit'
alias sl='sl -e; ls'
alias rg='rg --no-ignore-parent'
alias hg='kitty +kitten hyperlinked_grep --no-ignore-parent'
alias _hg='_rg '
alias fd='fd --no-ignore-parent'
alias cal='ncal -b'
alias fusuma-restart='killall -HUP fusuma; pgrep fusuma || nice -n -11 fusuma -d'
alias fusuma-config='vi -p ~/.config/fusuma/config.yml /usr/include/linux/input-event-codes.h ~/.config/fusuma/commands.sh'
alias duplicity=/usr/bin/duplicity
alias batch='schedtool -B -n 10 -e ionice -n 7'
alias apt='sudo apt'
alias systemctl='$(sudo -n -v 2>/dev/null && echo sudo systemctl || echo systemctl)'
alias discord='flatpak run com.discordapp.Discord --no-sandbox'
